<p id="notice"><%= notice %></p>

<p>
  <strong>Num:</strong>
  <%= @order.num %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order.client %>
</p>

<p>
  <strong>String:</strong>
  <%= @order.string %>
</p>

<p>
  <strong>Date:</strong>
  <%= @order.date %>
</p>

<p>
  <strong>Timedate:</strong>
  <%= @order.timedate %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
